@media (max-width: 768px) and (min-width: 376px) {

.hero{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    .offer{
        order:3;
        grid-column-start:2;
        grid-column-end:4;
        grid-row-start: 2;
        grid-row-end: 3;

    }

    .left-image{
        order:3;
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .right-image{
        order:3;
        grid-column-start:3;
        grid-column-end:5;
        grid-row-start: 1;
        grid-row-end: 2;

    }

}

}