@import 'variables';
@import 'colors';
@import 'resetter';

// Base styles for body text
body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $light-text;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  line-height: $line-height-heading;
  color: $dark-text;
  font-weight:$font-weight-black;
}

h1 { font-size: $h1-font-size }
h2 { font-size: $h2-font-size }
h6 { font-size: $h6-font-size }




// Other text elements
strong {
  font-weight: $font-weight-black;
}

em {
  font-style: italic;
}