
//Font family

$font-family-primary: "Red Hat Display", sans-serif;


//Font sizes

$font-size-base: 18px;
$font-size-sm: 16px;

// Font Weights
$font-weight-medium: 400;
$font-weight-black: 700;

// Line Heights
$line-height-base: 1.5;
$line-height-heading: 1.2;